In [3]:
import pandas as pd

### Charger les données du fichier logs.csv

In [4]:
df = pd.read_csv('./data/logs.csv')

In [5]:
df

             timestamp    ip_address   status
0  2025-01-05 12:34:56  192.168.1.10  success
1  2025-01-05 12:35:01  192.168.1.11   failed
2  2025-01-05 12:35:05  192.168.1.11   failed
3  2025-01-05 12:35:10  192.168.1.11   failed
4  2025-01-05 12:36:00  192.168.1.12  success

### Filtrer uniquement les connexions échouées

In [8]:
failed_logs = df[df['status'] == 'failed']
failed_logs

             timestamp    ip_address  status
1  2025-01-05 12:35:01  192.168.1.11  failed
2  2025-01-05 12:35:05  192.168.1.11  failed
3  2025-01-05 12:35:10  192.168.1.11  failed

### Compter le nombre de tentatives échouées par adresse IP

In [19]:
failed_counts = failed_logs['ip_address'].value_counts().reset_index()
failed_counts

     ip_address  count
0  192.168.1.11      3

### Détecter les IPs avec plus de 2 tentatives échouées

In [20]:
suspect_ips = failed_counts[failed_counts['count'] > 2]

suspect_ips

     ip_address  count
0  192.168.1.11      3

### Afficher le résultat à l'écran

In [21]:
print("Adresses IP suspectes :")

display(suspect_ips)

Adresses IP suspectes :

     ip_address  count
0  192.168.1.11      3